/*************************
	Portfolio
*************************/
.portfolio-item{
	margin-bottom: 60px;
	
	.portfolio-img{
		margin-bottom: 25px;
		position: relative; 
		overflow: hidden;
	}
}

/*my-shuffle*/
.my-shuffle-container {
	margin-left: -16px;
	margin-right: -16px;

	.grid-item {
		width: 33.33%;
		padding: 15px;

		.portfolio-item{
			margin-bottom: 0px;
		}
	}
}

.filters-group {
	display: table;
	margin: 0 auto 25px;
	text-align: center;

	button {
		margin: 0 5px 10px;
		padding: 6px 25px;
		cursor: pointer;
		font-size: 18px;
		line-height: 30px;
		font-weight: 400;
		color: $white;
		background: inherit;
		border: none;
		border: 1px solid rgba($gray-5, 0.25);
		border-radius: $radius-30;
		transition: all 0.3s ease;

		&:hover {
			color: $primary;
			border: 1px solid $primary;
		}
	}

	button.active {
		color: $primary;
		border: 1px solid $primary;
	}
}


/*************************************
	shuffle
*************************************/
.my-shuffle-container.grid-style {
	.grid-item {
		padding: 0 !important;
	}

}

.my-shuffle-container.columns-1 {
	.grid-item {
		width: 100%;
		padding: 15px;
	}

}

.my-shuffle-container.columns-2 {
	.grid-item {
		width: 50%;
		padding: 15px;
		float: left;
	}

}

.my-shuffle-container.columns-3 {
	.grid-item {
		width: 33.33333333%;
		padding: 15px;
	}
}

.my-shuffle-container.columns-4 {
	.grid-item {
		width: 25%;
		padding: 10px;
	}

}

.my-shuffle-container.columns-5 {
	.grid-item {
		width: 20%;
		padding: 15px;
	}

}

.my-shuffle-container.columns-6 {
	.grid-item {
		width: 16.666666%;
		padding: 0px;
	}

}

.my-shuffle-container.columns-2 .grid-item-full,
.my-shuffle-container.columns-3 .grid-item-full,
.my-shuffle-container.columns-4 .grid-item-full,
.my-shuffle-container.columns-5 .grid-item-full,
.my-shuffle-container.columns-6 .grid-item-full {
	width: 100%;
}

/*************************
	Portfolio Fancy
*************************/
.portfolio-fancy-wrapper {
	display: flex;
	gap: 30px;

	.portfolio-item {
		flex: 1;
		transition: 0.8s;
		position: relative;
		overflow: hidden;
		padding: 0;
		margin: 0;
		height: 670px;

		.item-wrap-image {
			height: 100%;
			width: 100%;
			background-repeat: no-repeat;
			transition: 0.5s;
			z-index: 0;
			position: absolute;
			border-radius: $radius-25;
			background-position: center center;
			background-size: cover;
			object-fit: cover;

			img {
				display: none;
				border-radius: $radius-25;
			}
		}

		.item-info {
			position: absolute;
			top: auto;
			left: 60px;
			bottom: 40px;
			opacity: 0;
			visibility: hidden;
			transition: $transition-5;

			.item-title {
				margin: 0;
				font-size: 22px;
				line-height: 30px;
				color: #ffffff;
				white-space: nowrap;
				padding: 10px 20px;
				font-weight: normal;
				background-color: $primary;
				font-family: $font-base;
				border-radius: 10px 10px 10px 0px;
			}

			.item-category {
				display: inline-block;
				color: #ffffff;
				white-space: nowrap;
				padding: 10px 15px;
				font-size: 18px;
				line-height: 26px;
				border-radius: 0px 0px 10px 10px;
				background-color: $black;
			}
		}

		&.active {
			flex: 5;

			.item-info {
				left: 40px;
				opacity: 1;
				transition-delay: 250ms;
				visibility: visible;
			}
		}
	}
}


/*****************************
	Responsive
*****************************/
@media (min-width:1200px) {

	/* Portfolio Fancy */
	.container-fluid .portfolio-fancy-wrapper .portfolio-item {
		flex: 1.5;
	}
	.container-fluid .portfolio-fancy-wrapper .portfolio-item.active {
		flex: 5;
	}
}

@media (max-width:991px) {

	/* shuffle */
	.my-shuffle-container.columns-3 {
		.grid-item {
			width: 50%;
			padding: 12px;
		}
	}

	/* Portfolio Fancy */
	.portfolio-fancy-wrapper {
		.portfolio-item {
			.item-info {
				bottom: 30px;
			}

			&.active {
				flex: 4;

				.item-info {
					left: 30px;
					bottom: 30px;
				}
			}

			.item-info {
				.item-title {
					font-size: 20px;
					line-height: 28px;
					padding: 10px;
				}
			}
		}
	}
}

@media (max-width:767px) {

	/* shuffle */
	.my-shuffle-container {
		margin-left: 0px;
		margin-right: 0px;
	}

	.my-shuffle-container.columns-2 .grid-item,
	.my-shuffle-container .grid-item {
		width: 100%;
	}

	.my-shuffle-container .grid-item,
	.my-shuffle-container.columns-2 .grid-item,
	.my-shuffle-container.columns-3 .grid-item,
	.my-shuffle-container.columns-4 .grid-item,
	.my-shuffle-container.columns-5 .grid-item,
	.my-shuffle-container.columns-6 .grid-item {
		width: 50%;
		padding: 12px;
	}

	.my-shuffle-container.columns-2,
	.my-shuffle-container.columns-3,
	.my-shuffle-container.columns-4,
	.my-shuffle-container.columns-5,
	.my-shuffle-container.columns-6{
		.grid-item {
			padding: 12px 12px;
		}
	}

	/* Portfolio Fancy */
	.portfolio-fancy-wrapper {
		gap: 24px;
		flex-wrap: wrap;

		.portfolio-item {
			width: calc(50% - 12px);
			height: auto;
			flex: auto;

			&.active {
				width: calc(50% - 12px);
				height: auto;
				flex: auto;

				.item-info {
					opacity: 1;
					visibility: visible;
					bottom: 15px;
					left: 15px;
				}
			}

			.item-wrap-image {
				width: auto;
				height: auto;
				position: relative;

				img {
					display: block;
				}
			}

			.item-info {
				opacity: 1;
				visibility: visible;
				bottom: 15px;
				left: 15px;

				.item-title {
					font-size: 16px;
					line-height: 24px;
				}

				.item-category {
					padding: 8px 10px;
					font-size: 16px;
				}
			}
		}
	}
}

@media (max-width:575px) {

	/*my-shuffle*/
	.filters-group {
		button{
		font-size: 16px;
		padding: 6px 20px;
		line-height: 28px;
		}
	}

	/* shuffle */
	.my-shuffle-container .grid-item,
	.my-shuffle-container.columns-2 .grid-item,
	.my-shuffle-container.columns-3 .grid-item,
	.my-shuffle-container.columns-4 .grid-item,
	.my-shuffle-container.columns-5 .grid-item,
	.my-shuffle-container.columns-6 .grid-item {
		width: 100%;
		padding: 12px 0px;
	}

	/* Portfolio Fancy */
	.portfolio-fancy-wrapper {
		.portfolio-item,
		.portfolio-item.active {
			width: 100%;
		}
	}
}

@media (max-width: 479px) {

	/* Portfolio Fancy */
	.portfolio-fancy-wrapper {
		.portfolio-item {
			.item-info {
				.item-title,
				.item-category {
					font-size: 16px;
					padding: 5px 15px;
				}
			}
		}
	}
}