/*****************************
	Services
*****************************/
/* Service Style 1 */
.service-item {
	position: relative;
	margin: 0;
	padding: 60px 40px;
	background: $secondary;
	border: 1px solid rgba($gray-5, 0.25);
	border-radius: $radius-20;
	height: 100%;
	transition: $transition-3;

	.service-icon {
		opacity: 1;
		margin-bottom: 30px;
		transition: $transition-3;
		position: relative;
		width: 75px;

		.main-icon {
			transition: $transition-3;
		}

		.hover-icon {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			opacity: 0;
			visibility: hidden;
			z-index: -1;
			transition: $transition-3;
		}
	}

	.service-content {
		.service-title {
			margin-bottom: 20px;
		}

		.service-description {
			margin-bottom: 35px;
		}

		.service-action {
			transition: $transition-3;

			.btn-arrow {
				border-color: $primary;

				&:after {
					border-color: $primary;
				}
			}
		}
	}

	&:hover {
		background: $primary;
		border: 1px solid rgba($primary,1);

		.service-icon {
			.main-icon {
				opacity: 0;
				visibility: hidden;
			}

			.hover-icon {
				opacity: 1;
				visibility: visible;
				z-index: 1;
			}
		}

		.service-content {
			.service-action {
				.btn-arrow-up {
					border: 1px solid transparent;

					&:before{
						height: 100%;
						width: 100%;
					}

					svg{
						path{
							stroke: $secondary;
						}
					}
				}
				
				.btn-arrow {
					border-color: $white;
					svg {
						path {
							stroke: $white;
						}
					}

					&:after {
						border-color: $white;
					}

					&:hover {
						svg {
							path {
								stroke: $white;
							}
						}
					}
				}
			}
		}
	}
}

/* Service Fancy */
.service-fancy{
	.service-item{
		position: relative;
		padding: 40px 0;
		border:0px;
		border-radius: 0;
		border-bottom: 1px solid rgba($white, 0.07);
		transition: $transition-4;

		.service-img {
			position: fixed;
			top: 0;
			left: 0;
			border-radius: $radius-10;
			width: 245px;
			height: 330px;
			object-fit: cover;
			z-index: 2;
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
			transform: rotate(5deg);
		}

		.service-content{
			display: flex;
			gap: 30px 50px;
			align-items: center;
			position: relative;
			z-index: 2;
			justify-content: space-between;

			.service-content-inner{
				display: flex;
				gap: 30px 70px;
				margin-right: 50px;

				.service-info {
					width: 45%;
					position: relative;
					padding-left: 50px;

					.service-number {
						color: $primary;
						font-size: 120px;
						line-height: 120px;
						font-weight: bold;
						position: absolute;
						left: 0;
						top: 50%;
						transform: translateY(-50%);
						margin: 0;
						z-index: -1;
						opacity: 0.07;
					}
				}

				.description {
					width: 55%;
				}
			}

			.service-action {
				margin-left: auto;

				.circle-btn{
					display: flex;
					align-items: center;
					justify-content: center;
					position: relative;
					height: 100px;
					width: 100px;
					border-radius: 100%;
					border:1px solid rgba($white, 0.07);

					&:before {
						content: "";
						height: 100%;
						width: 100%;
						border: 1px solid inherit;
						border-radius: 100%;
						background-color: $primary;
						position: absolute;
						top: 0;
						left: 0;
						transform: scale(0);
						transition: $transition-3;
						z-index: -1;
					}
				}
			}
		}

		.service-title {
			font-family: $font-hedding;
			font-size: 30px;
			font-weight: 700;
			line-height: 42px;
			color: $white;
			margin-bottom: 0px;
		}

		&:first-child{
			padding-top:0px;
		}

		&:hover{
			background-color: transparent;
			border-bottom: 1px solid $primary;

			.service-content {
				.service-action {
					.circle-btn {
						&:before {
							transform: scale(1);
						}
					}
				}
			}
		}
	}
}

.services-slider-section {
	display: flex;
	padding-top: 50px;
	gap: 50px;

	.services-bg-slider{
		width: 320px;
		flex: 0 0 320px;
		position: relative;
		border-radius: 25px;
		z-index: 5;
		overflow: hidden;

		.owl-carousel {
			.owl-stage-outer,
			.owl-stage,
			.owl-item,
			.owl-item .item,
			.owl-item .item img {
				height: 100% !important;
			}

			.owl-item {
				.item {
					img {
						width: 100%;
						object-fit: cover;
					}
				}
			}
		}

		.services-bg-slider-content{
			position: absolute;
			bottom: 25px;
			left: 0px;
			width: 100%;
			padding:0px 25px;
			z-index: 3;

			.title{
				line-height: 32px;
				color: $white;
				margin-bottom: 15px;
			}

			.btn{
				font-size: 17px;
				font-weight: 400;
				line-height: 24px;
				border-radius: 35px 35px 35px 35px;
				padding: 10px 25px 10px 25px;

				&:hover{
					background-color:$white;
					color: $secondary;
				}
			}
		}

		&:before{
			position: absolute;
			content: "";
			height: 100%;
			width: 100%;
			left: 0;
			top: 0;
			background-color: transparent;
			--background-overlay: '';
			background-image: linear-gradient(180deg, #0D16151F 0%, #0D1615 100%);
			opacity: 0.75;
			z-index: 2;
			border-radius: 25px;
		}
	}

	.grid-wrapper{
		grid-gap:0;
	}
}

/*Service Single*/
.service-single{
	.service-img{
		img{
			border-radius: $radius-25;
		}
	}

	.service-content {
		.service-title {
			width: 80%;
			margin-bottom: 30px;
		}
	}

	.accordion {
		&.accordion-style-pgs-two {
			.accordion-item {
				.accordion-header {
					.accordion-button {
						padding: 25px 30px;
						font-size: 22px;
						line-height: 32px;
					}
				}
			}
		}
	}
}

@media (max-width: 1399px) {
	.services-slider-section {
		.services-bg-slider {
			flex: 0 0 250px;
			width: 250px;
		}
	}

	.service-single{
		.service-content {
			.service-title {
				width: 100%;
			}
		}
	}
}

@media (max-width: 1199px) {
	.service-fancy{
		.service-item {
			.service-content{
				gap: 30px 70px;

				.service-content-inner{
					gap: 30px 50px;
					margin-right: 0;

					.service-info{
						width: 50%;
					}
					.description{
						width: 50%;
					}
				}
			}
		}
	}

	/*services-slider-section*/
	.services-slider-section{
		flex-direction: column;
		padding-top: 0px;

		.services-bg-slider{
			width: 100%;
			flex:inherit;
			height: 450px;

			.owl-carousel {
				.owl-item {
					.item {
						img {
							object-position: center 20%;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 1024px) {
	.service-fancy {
		.service-item {
			.service-img {
				display: none;
			}
		}
	}
}

@media (max-width: 991px) {
	.service-fancy{
		.service-item {
			.service-content{
				gap: 30px 80px;

				.service-content-inner{
					flex-direction: column;
					gap: 20px 0;

					.service-info{
						width: 100%;
					}
					.description{
						width: 100%;
					}
				}
			}

			.service-img {
				display: block;
				position: absolute;
				top: 0;
				left: inherit;
				right: 0;
				width: 200px;
				height: 100%;
				border-radius: 0;
				padding: 30px 0;
				z-index: 2;
				opacity: 0 !important;
				visibility: hidden !important;
				transition:  $transition-4;
				transition-delay: 0s;
				transform: none !important;
			}

			&:first-child {
				.service-img {
					padding-top: 0;
				}
			}

			&:hover {
				padding-right: 230px;

				.service-content {
					gap: 30px;
				}

				.service-img {
					opacity: 1 !important;
					visibility: visible !important;
					transition-delay: 0.3s;
				}
			}
		}
	}
}

@media (max-width: 767px) {
	.service-item{
		padding: 40px 20px;
	}

	.service-fancy{
		.service-item {
			.service-img{
				height: auto;
			}

			.service-content{
				align-items: flex-start;
				flex-direction: column;
				gap: 30px;

				.service-content-inner{
					.service-info{
						.service-number{
							font-size: 150px;
							line-height: 130px;
						}
					}
				}

				.service-action {
					margin-left: 0;

					.circle-btn {
						height: 70px;
						width: 70px;

						.arrow {
							svg {
								height: 40px;
								width: 40px;
							}
						}
					}
				}
			}

			&:hover {
				padding-right: 215px;
			}
		}
	}

	/*services-slider-section*/
	.services-slider-section {
		.services-bg-slider {
			height: 350px;
		}
	}

	/*Service Single*/
	.service-single{
		.service-content {
			.service-title {
				margin-bottom: 20px;
			}
		}
	}
}

@media (max-width: 575px) {
	.service-item {
		padding: 30px 15px;

		.service-icon {
			margin-bottom: 20px;
		}

		.service-content {
		.service-title {
			margin-bottom: 15px;
			}

			.service-description {
			margin-bottom: 25px;
			}
		}
	}

	.service-fancy{
		.service-item {
			padding: 30px 0;

			.service-img {
				display: none;
			}

			.service-content{
				gap: 15px;

				.service-content-inner{
					.service-info{
						padding-left: 0px;

						.service-number{
							font-size: 120px;
							line-height: 120px;
							top: 50%;
							transform: translateY(-50%);  
						}
					}
				}
			}

			&:hover {
				padding-right: 0;

				.service-content {
					gap: 15px;
				}
			}
		}
	}

	.services-slider-section {
		.services-bg-slider {
			.services-bg-slider-content {
				bottom: 15px;
				padding: 0px 15px;

				.title {
					line-height: 28px;
				}
			}
		}
	}
	.service-single {
		.accordion.accordion-style-pgs-two {
			.accordion-item {
				.accordion-header {
					.accordion-button{
					    padding: 16px 25px;
					    font-size: 18px;
					    line-height: 28px;
					}
				}
			}
		}
	}
}